<div class="home-page_content">
  <div class="home-page_mid">
      <h1>Deixe Sua <span style="color: #f79400;">URL</span> menor com <span style="color: #f79400;">URL</span>TINY</h1>
      <p>URLTYNE é um poderoso aplicativo que permite diminuir suas urls de maneira rapida e fácil.</p>
      <form class="home-page_mid_form1">
          <input type="text" placeholder="Sua URL grande">
          <button type="button">Enviar</button>
      </form>

      <form class="home-page_mid_form2">
          <label for="tinyurl">Sua URL pequena:</label>

          <div style="width: 100%;" *ngIf="url$ | async as url; else withoutapi">
            <div *ngIf="url.url.length; else withouturl">
              <input class="home-page_mid_form2-input" type="text" placeholder="" readonly="readonly" [value]="url.url">
            </div>
            <ng-template #withouturl>
              <input class="home-page_mid_form2-input" type="text" placeholder="" readonly="readonly" [value]="'abx'">
            </ng-template>
          </div>
          <ng-template #withoutapi>
            <input class="home-page_mid_form2-input" type="text" placeholder="" readonly="readonly" [value]="'abx'">
          </ng-template>
          <button type="button">Copiar</button>
      </form>
  </div>
</div>
