<div class="home-page_content">
  <div class="home-page_mid">
      <h1>Deixe Sua <span style="color: #f79400;">URL</span> menor com <span style="color: #f79400;">URL</span>TINY</h1>
      <p>URLTYNE é um poderoso aplicativo que permite diminuir suas urls de maneira rapida e fácil.</p>
      <form class="home-page_mid_form1">
          <input type="text" placeholder="Sua URL grande">
          <button type="button">Enviar</button>
      </form>
      <form class="home-page_mid_form2">
          <label for="tinyurl">Sua URL pequena:</label>
          <input type="text" placeholder="" readonly="readonly">
          <button type="button">Copiar</button>
      </form>
  </div>
</div>
